html {
   background-color:#000;



 
  background: url(assets/rotate.png) no-repeat center center fixed;
} 
@media screen and (orientation:portrait) {

    body { opacity: 0; }

}

@media screen and (orientation:landscape) {

    body { opacity: 1; }

}
