html, body {
    margin: 0;
    padding: 0;
}
div {
    margin: 0;
    border: 0px solid black;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
@media screen and (orientation:portrait) {
	div { opacity: 0; }
}
@media screen and (orientation:landscape) {
	div { opacity: 1; }
}
